/* :root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --background-color: #2f303a;
  --title-color: #ffffff;
  --filter-color: #f5f4fa;
} */

/* body {
  color: var(--main-color);
  background-color: var(--title-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
} */

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden-title {
  display: none;
}

::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
} */

/* LOGO */

/* .logo {
  margin-right: 93px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer {
  margin: 0;
  color: var(--title-color);
}

.logo-item {
  color: var(--accent-color);
} */

/* Button */

/* .main-btn {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  cursor: pointer;

  color: var(--title-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  color: var(--accent-color);
  background-color: var(--title-color);
} */

/* HEADER */

/* header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  background-color: var(--title-color);
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
} */

/* NAVIGATION */

/* .nav {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var (--main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
  fill: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
} */

/* HERO */

/* .hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-color);
}

.main-background {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #c4c4c4;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--title-color);
} */

/* MODAL */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background: var(--title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 2;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;

  fill: var(--main-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 30px;
  columns: var(--main-color);
} */

/* FORM */

/* .form {
  width: 100%;
  margin: 0;
}

.form__label {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 28px;
}

.form__text {
  position: absolute;
  left: 0;
  top: -16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form__item {
  position: absolute;
  left: 12px;
  transform: translateY(50%);
  width: 18px;
  height: 18px;
  fill: var(--main-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:focus-within > .form__item {
  fill: var(--accent-color);
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;

  outline: none;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-comment {
  margin-bottom: 20px;
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:hover .form__input,
.form__label:hover .form__item,
.form__input:focus,
textarea:hover,
textarea:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  left: 0;
  appearance: none;
}

.checkbox__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
  border: solid 2px var(--main-color);
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__item {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__agreement {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.checkbox__link {
  position: relative;
  color: var(--accent-color);
}

.checkbox__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;

  width: 100%;
  height: 1px;
  background: var(--accent-color);
} */

/* ADVANTAGE */

/* .advantage__list {
  display: flex;
}

.advantage__item {
  width: calc((100%-90px) / 4);
}

.skills__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--filter-color);
}

.advantage__item:not(:last-child) {
  margin-right: 30px;
}

.skills__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;

  text-transform: uppercase;

  color: var(--main-color);
}

.skills__text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--text-color);
} */

/* WORKS */

/* .work {
  padding-top: 0;
}

.work-title,
.team-title,
.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--main-color);
}

.work__list {
  display: flex;
}

.work__list img {
  display: block;
}

.work__item {
  position: relative;
  z-index: 0;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  text-transform: uppercase;
  color: var(--title-color);
} */

/* TEAM */

/* .team {
  background-color: var(--filter-color);
}

.team__list {
  display: flex;
}

.team__item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--title-color);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: var(--main-color);
}

.team__position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: var(--text-color);
} */

/* SOCIAL NETWORKS */

/* .networks {
  display: flex;
  justify-content: center;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link:hover,
.networks__link:focus {
  background: var(--accent-color);
  fill: var(--filter-color);
} */

/* CLIENTS */

/* .client__list {
  display: flex;
  justify-content: center;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
} */

/* FOOTER */

/* .footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--title-color);
  background-color: var(--background-color);
}

.office__list {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.office__item:not(:last-child) {
  margin-bottom: 9px;
}

.office__address {
  color: var(--title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.office__address:hover,
.office__address:focus {
  color: var(--accent-color);
}

.office__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.office__link:hover,
.office__link:focus {
  color: var(--accent-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.community {
  margin-left: 70px;
}

.footer-title,
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--title-color);
}

.footer-link {
  fill: var(--title-color);
} */

/* SUBSCRIBE */

/* .subscribe-box {
  margin-left: 93px;
}

.subscribe {
  display: flex;
}

.subscribe__label {
  margin-right: 12px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  color: var(--title-color);
  background: transparent;

  outline: none;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  fill: var(--title-color);
}

.subscribe-btn:hover {
  fill: var(--accent-color);
}

.subscribe-icon {
  margin-left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* PORTFOLIO */

/* .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  text-align: center;
  cursor: pointer;

  color: var(--main-color);

  background: var(--filter-color);
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
} */

/* PROJECTS */

/* .portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--title-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__item img {
  display: block;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;

  color: var(--title-color);
  background-color: var(--accent-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .project__overlay {
  transform: translateY(0);
}

.project__box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--main-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;

  color: var(--text-color);
} */
