.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--title-color);
  background-color: var(--background-color);
}

.footer-address {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.office__list {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.office__item:not(:last-child) {
  margin-bottom: 9px;
}

.office__address {
  color: var(--title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.office__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-box {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
}
}

.community {
  margin-left: 70px;
  @media screen and (max-width: 767px) {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer-title,
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--title-color);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
  }

}

.footer-link {
  fill: var(--title-color);
}
