.menu-btn {
    border: none;
    background-color: transparent;
    display: block;
    margin-left: auto;
    width: 40px;
    height: 40px;
    padding: 0;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    overflow-y: scroll;
    background: rgb(255, 255, 255);
    opacity: 1;
    z-index: 5;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mob-menu__btn {
    position: absolute;
    top: 21px;
    right: 25px;
    border: none;
    background-color: transparent;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mob-nav__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    color: var(--main-color);
    &:not(:last-child) {
        padding-bottom: 32px;
    }
}

.mob-nav__link--current {
    color: var(--accent-color);
}

.mob-contacts {
    padding-top: 302px;
}

.mob-contact__item {
    padding-bottom: 32px;
}

.mob-contact__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mob-contact__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.mob-networks {
    display: flex;
}

.mob-networks__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);
}

.mob-networks__item + .mob-networks__item {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
}